h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('2', '1.   Fundamentos de seguridad y salud en el trabajo', 'main.html#page/tema-1/')
                    +navTemaItem('3', '2.	Fundamentos de medio ambiente', 'main.html#page/tema-2/')
