.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Ministerio de Trabajo, Resolución 1477 de 2014 Enfermedad Laboral.
                    
                    td Resolución
                    td 
                        a(href="https://www.minsalud.gov.co/proteccionsocial/RiesgosLaborales/Paginas/enfermedad-laboral.aspx", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver