include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Fondo Emprender. (2014). Metodología para la implementación de buenas prácticas de formulación Fondo Emprender. ", " ")

        +referenciaItem("García, J. A. (2020). Los sectores de producción, características y relación con la economía. EAE Business School. ", "https://retos-operaciones-logistica.eae.es/los-sectores-de-produccion-y-sus-caracteristicas/")

        +referenciaItem("Martínez, C. (2020). Entorno empresarial: características y elementos. Lifeder. ", "https://www.lifeder.com/entorno-empresarial/")

        +referenciaItem("Muñoz, A. M. (2011). Las fuentes de información. ", "http://www.ugr.es/~anamaria/fuentesws/Intro-FI.htm")

        +referenciaItem("Orellana, L. (2001). Estadística descriptiva. Universidad de Buenos Aires. ", " ")

        +referenciaItem("Rodríguez, D. (2020). Sector Primario en Colombia: Características e Importancia. Lifeder. ", "https://www.lifeder.com/sector-primario-colombia/")

        +referenciaItem("Santos, E. (2019). Clasificación de fuentes de información. ", "https://www.unprofesor.com/ciencias-sociales/clasificacion-de-fuentes-de-informacion-3246.html")

        +referenciaItem("SENA y Fondo Emprender. (2019). Buenas prácticas de formulación “Nueva estructura plan de negocios Fondo Emprender”. Coordinación Nacional de Emprendimiento, Dirección de Empleo y Trabajo. Dirección General.", " ")

        +referenciaItem("Significados. (2020). Significados, conceptos y definiciones sobre los temas más variados. ", "https://www.significados.com/")

        +referenciaItem("Torres, I. (1999). Las fuentes de información: estudios teórico-prácticos. Síntesis, ISBN: 84-7738-460-9.", " ")

        +referenciaItem("Torres, I. (2003). Los recursos informativo-documentales para los Estudios de las Mujeres. Panorámica breve desde Europa. ", "http://www.mujeresenred.net/isabel_de_torres.html")

        +referenciaItem("Universidad Javeriana. (s.f.). Planteamiento del problema.", "https://www.javeriana.edu.co/servlet/SBReadResourceServlet?rid=1267279865841_1737947709_14119")

       
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            